* {
    /* border: 1px solid black; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mainContainer {
    min-width: 300px;
    width: 90%;
    margin: 3em auto 0em;
}

.inputContainer {
    margin: auto;
    display: flex;
    height: 3em;
    width: 90%;
}

h1 {
    text-align: center;
}

.textInput {
    font-size: large;
    width: 80%;
    height: 100%;
    padding: 0px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.submitButton {
    width: 20%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#toDoList {
    list-style: none;
}

li {
    min-height: 35px;
    margin: 2px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    align-items: stretch;

}

label {
    /* height: 100%; */
    margin: 1px;
    display: flex;
    width: 95%;
    overflow-wrap: break-word;
    align-items: center;
}

label:hover{
    cursor: pointer;
    background: rgb(200, 253, 253);
}

input[type="checkbox"] {
    margin: 0px 5px
}

.inactive {
    background-color: red;
    text-decoration: line-through;
}

.btnClose {
    height: 100%;
    padding: 5px;
    margin: auto auto;
    background-color: rgb(200, 253, 253);
    color: black;
    border-radius: 10%;
}